.navbar {
  background-color: white !important;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  position: sticky;
  position: -webkit-sticky;
  z-index: 100;
  top: 0;
  color: #2d2d2d !important;

}


.navbar-brand {
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  margin-right: 1rem;
}


.navbar-nav .nav-link {
  padding-right: 0.3rem;
  padding-left: 0.3rem;
  font-size: 0.7rem;
}

.right-nav .nav-link{
  font-size: 0.85rem;
}

.right-nav .bi-person{
  font-size: 1.15rem ;
}

.right-nav .bi-bag{
  font-size: 0.95rem ;
}




@media (max-width: 992px) {
  
  .right-nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid hsla(0, 0%, 83%, 0.486);
    gap: 0;
    text-align: center;
    background-color: white;
  }
  .right-nav .nav-link {
    padding: 1rem;
    border-right: 1px solid hsla(0, 0%, 83%, 0.486);
  }
}
